.sort-down {
    border-style: solid;
    border-color: #fff transparent transparent;
    border-width: 5px 5px 0;
    position: absolute;
    right: 10px;
    top: 44%;
    font-size: 1.25rem;
    font-weight: 500;
}
